*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width:500px;
    margin: 0 auto;/* centers */
    
}
.apply_box{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(1, 1, 4, 0.7);
}
h1 , h3{
    text-align:center;
    position: relative;
    top: 20px;
    color: blue;
}

#title_small{
    font-size: 20px;
}
.form_container{
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; /*gap b/w each input*/
    display: flex;
    flex-direction: column;
}
.input_box{
    height: 30px;
    width: 300px;
    border-radius: 4px;
}
input , select , textarea{
    padding: 6px 10px;
    border: 1px solid rgb(112, 106, 106);
    font-size : 15px;
}
label{
    margin-bottom: 10px;
}
input:focus{
    outline-color: blue;
}
.button_container{
    display: flex;
    justify-content:center;
}
button{
    background: blue;
    height: 50px;
    width:100px;
    border-radius: 10px;
    border-color: white;;
}
button:hover{
    background: white;
    color: blue;
}